USE_TEST_DATA=true # Set `false` to hit the real GitHub API (Not reccomended for development)
GITHUB_API_TOKEN= # Insert your GitHub personal access token (classic) here. GitHub docs: https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens